<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bill Util.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>681820D71E5D18BA00D70FBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681820EE1E5D18BA00D70FBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681820F91E5D18BA00D70FBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
